.list-page-product {
  width: 98vw;
  height: 100vh;
}

.list-page-product .list-page-header {
  padding: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  text-align: center;
}

.list-page-product .content {
  display: flex;
  justify-content: center;
}
